<h1>New Article</h1>


<%= form_with model: @article do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %> <br>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
